[user]
email = me@kjagiello.com
	signingkey = DD9A989AB430E62DBB805D41C9FDA0BC36D4C3F0
name = Krzysztof Jagiello

[alias]
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
prune = fetch --prune
up = pull --rebase --autostash

[merge]
tool = opendiff

[core]
editor = nvim
excludesfile = /Users/kjagiello/.gitignore_global
pager = diff-so-fancy | less --tabs=4 -RFX

[color]
ui = true

[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22

[color "diff"]
meta = yellow
frag = magenta bold
commit = yellow bold
old = red bold
new = green bold
whitespace = red reverse

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[commit]
	gpgsign = true
